body {
  margin: 0;
  padding: 0;
  font-family: Trebuchet, Arial, sans-serif;
}

.blink-scroll-control {
  animation: blinker 2s ease-in-out 2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#scroll-control {
  position: fixed;
  right: 20px;
  top: 10px;
  color: white;
  z-index: 10;
  font-size: 20px;
  border-radius: 16px;
  overflow: hidden;
  width: 95px;
  user-select: none;
  -webkit-user-select: none;
  box-shadow: 1px 1px 5px black;
}

#scroll-control-autoplay-label {
  text-align: center;
  display: block;
  color: white;
  background-color: #706767;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 0;
}

#scroll-control-switch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#scroll-control-switch-label {
  display: block;
  cursor: pointer;
}

#scroll-control-switch-label-inner {
  display: flex;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}

#scroll-control-switch-label-inner:before, #scroll-control-switch-label-inner:after {
  display: block;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

#scroll-control-switch-label-inner:after {
  content: 'OFF';
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

#scroll-control-switch-label-inner:before {
  content: 'ON';
  padding-left: 10px;
  background-color: darkgray;
  color: #FFFFFF;
}

#scroll-control-switch-label-switch {
  display: block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 10px;
  border: 2px solid #999999;
  border-radius: 16px;
  transition: all 0.2s ease-in 0s;
}

#scroll-control-switch-checkbox:checked + #scroll-control-switch-label #scroll-control-switch-label-inner {
  margin-left: 0;
}

#scroll-control-switch-checkbox:checked + #scroll-control-switch-label #scroll-control-switch-label-switch {
  left: 66px;
}

#backgrounds-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.background {
  width: 100vw;
  background-size: cover;
}

.background-border {
  width: 100%;
  height: 40px;
  background-color: #8837112b;
}

#background1 {
  aspect-ratio: 843/ 632;
  background-image: url('./background1.jpg');
}

#background2 {
  aspect-ratio: 1545 / 1024;
  background-image: url('./background2.jpg');
}

#background3 {
  aspect-ratio: 1840 / 1233;
  background-image: url('./background3.jpg');
}

#background4 {
  aspect-ratio: 1840 / 1233;
  background-image: url('./background4.jpg');
}

#background5 {
  aspect-ratio: 4080 / 3060;
  background-image: url('./background5.jpg');
}

#background6 {
  aspect-ratio: 2048 / 1357;
  background-image: url('./background6.jpg');
}

#background7 {
  aspect-ratio: 1840 / 1233;
  background-image: url('./background7.jpg');
}

#background8 {
  aspect-ratio: 4080 / 3060;
  background-image: url('./background8.jpg');
}

#background9 {
  aspect-ratio: 3088 / 2316;
  background-image: url('./background9.jpg');
}

#background5 {
  aspect-ratio: 4032 / 3024;
  background-image: url('./background5.jpg');
}

.information-section {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #0b260b;
  padding: 50px 0;
  border-top: 20px solid #883711;
  border-bottom: 20px solid #883711;
}

.information-section a {
  color: orange;
}

#page-visits-number {
  color: #88d388;
}

#page-visits-container, #welcome-container {
  font-size: 30px;
  font-weight: bold;
}

#welcome-container {
  padding-top: 10px;
}

#website-intro {
  font-size: 26px;
  padding-bottom: 20px;
  width: 75vw;
}

#tech-specs {
  width: 75vw;
  font-size: 20px;
  line-height: 30px;
}

#portfolio-container {
  font-size: 26px;
  width: 75vw;
  line-height: 36px;
  text-align: center;
}

#concluding-remarks {
  font-size: 26px;
  width: 75vw;
  line-height: 36px;
  text-align: center;
}
