body {
  margin: 0;
  padding: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: round;
  background-image: url('./background1.jpg');
}

#fixed-ancestor {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 5000px;
  top: calc(.3 * 100vh);
}

#items-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(.8 * 100vw);
}

#items-container > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
