body {
  margin: 0;
  padding: 0;
}

#backgrounds-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.background {
  width: 100vw;
  background-size: cover;
  margin: 50px 0;
}

#background1 {
  aspect-ratio: 843/ 632;
  background-image: url('./background1.jpg');
}

#background2 {
  aspect-ratio: 1545 / 1024;
  background-image: url('./background2.jpg');
}

#background3 {
  aspect-ratio: 1840 / 1233;
  background-image: url('./background3.jpg');
}

#background4 {
  aspect-ratio: 3088 / 2316;
  background-image: url('./background4.jpg');
}

#background5 {
  aspect-ratio: 4032 / 3024;
  background-image: url('./background5.jpg');
}

#fixed-ancestor {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 5000px;
  top: calc(.3 * 100vh);
}

#items-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: calc(.8 * 100vw);
}

#items-container > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
